.product_type_simple {
  display: none !important;
}

.woocommerce-loop-product__title,  .woocommerce-loop-category__title{
  text-align: center;
  padding: 0 !important;
  mark {
    display: none;
  }
}

.main-navigation {
  float: none;
}

.woocommerce-Price-amount {
  display: none;
}

.facetwp-radio {
  &:first-child {
    display: none;
  }
}

.woocommerce-loop-product__title {
  font-weight: normal;
  font-family: $play;
  line-height: 1em;
}
