.very-top {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: $dark-grey;
  color: #fff;
  @media screen and (max-width: 450px) {
    font-size: 0.8em;
  }
}
