$allerta: 'Allerta Stencil', sans-serif;
$archivo: 'Archivo Black', sans-serif;
$play: 'Play', sans-serif;

$max-width: 1024px;
$dark-green: #567931;
$dark-grey: #333333;
$med-grey: #5C5B5C;
$light-grey: #D8D8D8;
$off-white: #EDEDED;
$yellow: #F2C57D;
